.App {
  width: 100%;
}

section {
  padding-top: 2.5em;
  padding-left: 10em;
  padding-right: 10em;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

select {
  margin-right: 1em;
  padding-left: 1em;
  width: 10em;
  border: 1px solid #ccc;
  height: 34px;
  background-color: white;
  border-color: black;
  font-weight: bold;
  font-size: 1.05em;
}

select option {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.05em;
}

textarea {
  display: block;
  background-color: rgb(216, 216, 216);
  appearance: none;
  border: solid 0.1em black;
  resize: vertical;
  width: 40em;
  height: 10em;
  margin-bottom: 1em;
}

button {
  font-size: 1em;
  height: 3em;
  margin-left: 27em;
  width: 6.5em;
  background-color: black;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(208, 208, 208);
  color: black;
  cursor: pointer
}

input[type=text] {
  margin-left: 2em;
  background-color: rgb(208, 208, 208);
  border-style: solid;
  border-width: 1px;
  height: 34px;
  width: 12em;
  border-color: black;
}